{% extends 'base.html' %}

{% block title %}
Страница обо мне
{% endblock %}

{% block body %}
<div class="container">
    <h1>Страница обо мне</h1>
</div>
<div class="container">
      <p class="fs-5 text-body-secondary">Я, Никита Дютькин Андреевич, создатель этого сайта. В 6 классе у меня появился компьютер, и я очень увлёкся программированием, что и сподвигло меня на создание сайта. Мне всегда хотелось стать программистом, и поэтому после окончания школы я поступил в колледж IT TOP. Там я выучил язык Python и начал писать свой сайт. На пути к его созданию возникали трудности, такие как нехватка времени, небольшие выгорания и другие отвлекающие факторы, но я благополучно справился с ними, и поэтому вы видите это сообщение. Сейчас мне 16 лет и это мой первый проект, который я реализовал. Надеюсь, мой сайт поможет вам в изучении мышечных волокон, а тренировки придадут рост мышечной массы.</p>
    </div>
{% endblock %}